<table class="table">
  <thead>
  <tr>
    <th scope="col">Collection</th>
    <th scope="col">Druid</th>
    <th scope="col">Active/Inactive</th>
  </tr>
  </thead>
  <tbody>
  <% @collections.each do |collection| %>

    <tr>
      <th scope="row"><%= link_to collection.title, edit_collection_path(collection)%></th>
      <td><%= collection.druid %></td>
      <td><%= collection.active ? 'active' : 'inactive' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Add a Collection", new_collection_path, class: 'btn btn-link'%>
