<h1>Collections#show</h1>
<p>Find me in app/views/collections/show.html.erb</p>

<div class="card">
  <div class="card-header">Collection <%= link_to "Edit", edit_collection_path(@collection), class: 'badge badge-success float-right'%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @collection.title %></h5>
    <p class="card-text"><%= @collection.druid %></p>
    <p class="card-text">Last Successful Fetch: <%= @collection.last_successful_fetch %></p>
  </div>
</div>
