<% if fetch_months.empty? %>
  <p>No jobs are currently processing.</p>
<% else %>
  <table class="table">
    <thead>
    <tr><th>Collection</th><th>Year</th><th>Month</th></tr>
    </thead>
    <%= render(FetchMonthJobComponent.with_collection(fetch_months)) %>
  </table>
<% end %>
