<% if registration_jobs.empty? %>
  <p>No jobs are currently processing.</p>
<% else %>
  <table class="table">
    <thead>
    <tr><th>Job directory</th><th>Collection</th><th>Source ID</th></tr>
    </thead>
    <%= render(RegistrationJobComponent.with_collection(registration_jobs)) %>
  </table>
<% end %>
